* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 40px;
}

.editar-container {
    text-align: center;
    min-width: 400px;
    width: 100%;
    margin-top: 50px;
}

.editar-container h1 {
    font-size: 36px;
    color: #5A5A8E;
    margin-bottom: 20px;
}

.editar-container h2 {
    font-size: 24px;
    color: #5A5A8E;
    margin-bottom: 20px;
}

.editar-container form {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.editar-container .confmsg {
    margin-bottom: 30px;
}

.editar-container label {
    text-align: left;
    color: #555;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.editar-container input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #E7EAF0;
    border-radius: 6px;
    font-size: 16px;
    background-color: #F7F8FC;
    outline: none;
    color: #555;
}

.editar-container input:focus {
    border-color: #5A5A8E;
}

.editar-container button:hover {
    background-color: #48488e;
}

.editar-container .extra-options {
    margin-top: 20px;
}

.editar-container .extra-options a {
    color: #5A5A8E;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
}

.editar-container .extra-options a:hover {
    color: #48488e;
}

.editar-container #submit {
    font-size: 16px;
    margin-top: 55px;
    color: #fff;
    background-color: #5D6B98;
    border: 2px solid #5D6B98;
    border-radius: 6px;
    width: 130px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.editar-container #criar-link {
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 20px;
    color: #5D6B98;
    background-color: #fff;
    border: 2px solid #5D6B98;
    border-radius: 6px;
    width: 130px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    body {
        margin-top: 50px;
    }

    .editar-container form {
        max-width: 300px;
        margin: auto;
    }
}